body {
    margin: 0;
}

                                    /* Navbar section*/

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px 0px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    text-align:left;
    flex: 1;
}

.header-link {
    display: flex;
    gap: 20px;
    justify-content:end;
    align-items: center;
    font-family: sans-serif;
    flex: 1;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 0;
}

                                    /* End of Navbar section */



/* spaces on both sides align both navbar and about-site at desired location */
.space {
    min-width: 400px
}

                                    /* About site section */

.container2 {
    display: flex;
    background-color: #1f2937;
    height: 300px;    
}

/* about-site, img-box - child of .container2 */

.about-site {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: start;
    max-width: 350px;
    gap: 8px;
}

/* header, info, button - child of about-site */

.header {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.info {
    color: #f9faf8;
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    padding: 8px 24px;
    color: #f9faf8;
}


.img-box {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

/* img - child of img-box */

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    width: 550px;
    color: #f9faf8;
    background-color: darkgrey;
}

                                    /* End of About site section*/